@use './abstracts/font';
@use './abstracts/colors';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-family: font.$ff-base;
	font-size: font.$fs-base;
	font-weight: font.$fw-base;
}

h1 {
	font-size: font.$fs-base;
}

.container {
	min-width: 375px;
	padding: 0.75rem;
	overflow-x: hidden;
	height: 100vh;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	.theme-title {
		font-size: calc(font.$fs-base * 0.4) !important;
	}

	.theme-selector {
		height: 0.6rem;
		width: 2.5rem;
		border-radius: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

		span {
			background-color: transparent;
			height: 0.45rem;
			width: 0.45rem;
			border-radius: 50%;
			position: relative;
			cursor: pointer;
		}

		.selector-one::after {
			content: '1';
			position: absolute;
			top: -0.5rem;
			left: 0;
			right: 0;
			font-size: 0.4rem;
			text-align: center;
		}
		.selector-two::after {
			content: '2';
			position: absolute;
			top: -0.5rem;
			left: 0;
			right: 0;
			font-size: 0.4rem;
			text-align: center;
		}
		.selector-three::after {
			content: '3';
			position: absolute;
			top: -0.5rem;
			left: 0;
			right: 0;
			font-size: 0.4rem;
			text-align: center;
		}
	}
}

.theme-selector-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	gap: 0.5rem;
}

.btn-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding: 1rem 0.5rem;
	border-radius: 0.3rem;
	height: 13.5rem;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.btn {
	display: block;
	border-radius: 0.25rem;
	height: 2rem;
	width: 2rem;
	padding: 0;
	margin: 0 -2rem;
	line-height: 2rem;
	cursor: pointer;
	text-align: center;
}

.btn-delete {
	font-size: calc(font.$fs-base * 0.7);
	font-weight: calc(font.$fw-base * 0.75);
}

.btn-reset {
	font-size: calc(font.$fs-base * 0.7);
	font-weight: calc(font.$fw-base * 0.75);
	grid-column: span 2;
	width: 4.25rem;
}

.btn-equal {
	font-size: calc(font.$fs-base * 0.7);
	font-weight: calc(font.$fw-base * 0.75);
	grid-column: span 2;
	width: 4.25rem;
}

.calc-result {
	display: inline-block;
	height: 2.5rem;
	width: 10.25rem;
	margin: 0.5rem auto;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	text-align: right;
	font-size: calc(font.$fs-base * 1.8);
	line-height: calc(font.$fs-base * 1.8);
}

/* Theme 1 */

.container.th-1 {
	background-color: colors.$bg-primary-th1;
	.title,
	.theme-title {
		color: colors.$text-light-th1;
	}
}

.title-container.th-1 {
	.theme-selector {
		background-color: colors.$bg-screen-th1;

		.selector-one.active {
			background-color: colors.$key-bg-toggle-th1;
		}
		.selector-two.active {
			background-color: colors.$key-bg-toggle-th1;
		}
		.selector-three.active {
			background-color: colors.$key-bg-toggle-th1;
		}

		.selector-one::after {
			color: colors.$text-light-th1;
		}
		.selector-two::after {
			color: colors.$text-light-th1;
		}
		.selector-three::after {
			color: colors.$text-light-th1;
		}
	}
}

.calc-result.th-1 {
	background-color: colors.$bg-screen-th1;
	color: colors.$text-light-th1;
}

.btn-container.th-1 {
	background-color: colors.$bg-toggle-th1;
}

.btn-num.th-1 {
	background-color: colors.$key-bg-light-th1;
	color: colors.$text-primary-th1;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-light-th1;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-light-th1, white, 20%);
	}
}

.btn-delete.th-1 {
	background-color: colors.$key-bg-dark-th1;
	color: colors.$text-light-th1;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-dark-th1;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-dark-th1, white, 80%);
	}
}

.btn-reset.th-1 {
	background-color: colors.$key-bg-dark-th1;
	color: colors.$text-light-th1;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-dark-th1;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-dark-th1, white, 80%);
	}
}

.btn-equal.th-1 {
	background-color: colors.$key-bg-toggle-th1;
	color: colors.$text-light-th1;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-toggle-th1;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-toggle-th1, white, 80%);
	}
}

.theme-selector.th-1 {
	background-color: colors.$bg-toggle-th1;
}

/* Theme 2 */

.container.th-2 {
	background-color: colors.$bg-primary-th2;
	.title,
	.theme-title {
		color: colors.$text-primary-th2;
	}
}

.title-container.th-2 {
	.theme-selector {
		background-color: colors.$bg-toggle-th2;

		.selector-one.active {
			background-color: colors.$key-bg-toggle-th2;
		}
		.selector-two.active {
			background-color: colors.$key-bg-toggle-th2;
		}
		.selector-three.active {
			background-color: colors.$key-bg-toggle-th2;
		}

		.selector-one::after {
			color: colors.$text-primary-th2;
		}
		.selector-two::after {
			color: colors.$text-primary-th2;
		}
		.selector-three::after {
			color: colors.$text-primary-th2;
		}
	}
}

.calc-result.th-2 {
	background-color: colors.$bg-screen-th2;
	color: colors.$text-primary-th2;
}

.btn-container.th-2 {
	background-color: colors.$bg-toggle-th2;
}

.btn-num.th-2 {
	background-color: colors.$key-bg-light-th2;
	color: colors.$text-primary-th2;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-light-th2;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-light-th2, white, 20%);
	}
}

.btn-delete.th-2 {
	background-color: colors.$key-bg-dark-th2;
	color: colors.$text-light-th2;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-dark-th2;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-dark-th2, white, 80%);
	}
}

.btn-reset.th-2 {
	background-color: colors.$key-bg-dark-th1;
	color: colors.$text-light-th1;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-dark-th1;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-dark-th1, white, 80%);
	}
}

.btn-equal.th-2 {
	background-color: colors.$key-bg-toggle-th1;
	color: colors.$text-light-th1;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-toggle-th1;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-toggle-th1, white, 80%);
	}
}

.theme-selector.th-2 {
	background-color: colors.$bg-toggle-th1;
}

/* Theme 2 */

.container.th-3 {
	background-color: colors.$bg-primary-th3;
	.title,
	.theme-title {
		color: colors.$text-primary-th3;
	}
}

.title-container.th-3 {
	.theme-selector {
		background-color: colors.$bg-toggle-th3;

		.selector-one.active {
			background-color: colors.$key-bg-toggle-th3;
		}
		.selector-two.active {
			background-color: colors.$key-bg-toggle-th3;
		}
		.selector-three.active {
			background-color: colors.$key-bg-toggle-th3;
		}

		.selector-one::after {
			color: colors.$text-primary-th3;
		}
		.selector-two::after {
			color: colors.$text-primary-th3;
		}
		.selector-three::after {
			color: colors.$text-primary-th3;
		}
	}
}

.calc-result.th-3 {
	background-color: colors.$bg-screen-th3;
	color: colors.$text-light-th3;
}

.btn-container.th-3 {
	background-color: colors.$bg-toggle-th3;
}

.btn-num.th-3 {
	background-color: colors.$key-bg-light-th3;
	color: colors.$text-primary-th3;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-light-th3;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-light-th3, white, 20%);
	}
}

.btn-delete.th-3 {
	background-color: colors.$key-bg-dark-th3;
	color: colors.$text-light-th3;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-dark-th3;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-dark-th3, white, 80%);
	}
}

.btn-reset.th-3 {
	background-color: colors.$key-bg-dark-th3;
	color: colors.$text-light-th3;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-dark-th3;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-dark-th3, white, 80%);
	}
}

.btn-equal.th-3 {
	background-color: colors.$key-bg-toggle-th3;
	color: colors.$text-light-th3;
	box-shadow: 0px 4px 0px -1px colors.$key-shadow-toggle-th3;
	&:hover,
	&:focus {
		background-color: mix(colors.$key-bg-toggle-th3, white, 80%);
	}
}

.theme-selector.th-3 {
	background-color: colors.$bg-toggle-th3;
}
