@use './abstracts/font';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html,
body {
	font-family: font.$ff-base;
	font-size: font.$fs-base;
	font-weight: font.$fw-base;
}

